*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
h1{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
#input{
  padding: 5px;
  width: 200px;
  align-items:center;
  justify-content: center;

}
#btn{
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.container{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #929191;
}
.popup{
  position: fixed;
  top: 30px; /* Ekranın üstünden 20px mesafe */
  right: 30px; /* Sağdan 20px mesafe */
  background-color: #a8edea; 
  color: black; /* Yazı rengi */
  padding: 10px 20px; /* İç boşluk */
  border-radius: 5px; /* Köşeleri yuvarlak yapar */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Hafif gölge */
  font-size: 16px; /* Yazı boyutu */
  font-weight: bold; /* Kalın yazı */
  animation: fadeOut 3s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1; /* Başlangıçta görünür */
  }
  100% {
    opacity: 0; /* Animasyon sonunda görünmez */
  }
}